html{
    background-color: #ffeec3;
}
.frame {
  width: 1200px;   /* wider frame */
  height: 500px;
  border: 8px solid #000;
  padding: 20px;
  overflow: hidden;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: end; /* bottom-align everything */
  gap: 40px;
  background: #f7f7f7;
}

.bedroom{
    display: flex;
    top: 10px;
    align-items: center;
    gap: 40px;
}
.bearwbow {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}


.bearwbow img {
    display: block;
    width: 250px;
}

.bear{
    position: relative;
    z-index: 1;
}
.bow{
   position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%) scale(0.3);
    transform-origin: center center;
    z-index: 2;
    transition: transform 0.6s ease;
}
.bow.rotate {
    transform: translateX(-50%) scale(0.25) rotate(720deg)
}

.train {
  position: relative; /* now inside the frame */
  width: 350px;
  height: 200px; /* gives the train space */
}

.train img {
  position: absolute;
  bottom: 0;
  left: 105%; /* start just off the left edge */
  width: 350px;
  animation: moveTrain 8s linear infinite;
}

@keyframes moveTrain {
  0% {
    left: 105%; /* start off-screen left */
  }
  100% {
    left: -1700px; /* move across the frame (adjust to frame width) */
  }
}

.bed img{
    width: 300px;
}

.nightstand img {
  width: 300px; 
}

.dresser img{
    width: 300px;
}

